.about{
    max-width: 700px;

    .bio{
        display: flex;
        padding-inline: 20px;
    }
    img{
        width: 700px;
        height: auto;
        border-radius: 20px;
    }

}

.intro{
    font-style: italic;
    font-weight: lighter;
}